# Environments
venv/
.venv/
env/
.env

# Cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd

# User specific files
users.json

# Uploads
static/uploads/

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
